<div class='blue_top_line'>
</div>

<div class='interviewee_box_outer_container'>
  <div class='interviewee_box'>

    <div class='interviewee_name'>
      @interviewee.name
    </div>

    <div class='video_counter'>
      @interviewee.videos.count
    </div>

    <div class='profile_picture'>
      <div class='blue_squares_down'>
      </div>
    </div>

    <div class='about_text'>
      interviewee.about_text
    </div>

    <div class='twitter_handle'>
      interviewee.twitter_handle
    </div>
    
    <div class='tags'>
      <%= render 'shared/tags' %>
    </div>

    <div class='weblink'>
      interviewee.weblink
    </div>

  </div>
</div>

<div class='blue_squares_down'>
</div>

<div class='people_pillow'>
</div>
