<nav>
<div class='navbar'>
  <ul>
    <li><%= link_to 'Home', '#' %></li>
    <li><%= link_to 'Videos', '#' %></li>
    <li><%= link_to 'People', '#' %></li>
    <li><%= link_to 'Documentary', '#' %></li>
  </ul>
</div>
</nav>
