<%= content_for :page_title, 'Startup DNAge - Welcome' %>
<div class='blue squares'>
</div>
<div class='homepage first-line'>
  <div class='startup_logo'>
    <%= image_tag('Startup_DNAge.png') %>
  </div>
  <div class='green_banner'>
    <%= image_tag('Green_banner.png') %>
  </div>
  <div class='first_subheader'>
    <%= image_tag('Plus_Headline.png') %>
  </div>
</div>
