  <%= content_for :page_title, 'Startup DNAge - Welcome' %>
<div class='blue squares'>
</div>
<div class='homepage first-line'>
  <div class='startup_logo'>
  <%= image_tag('Startup_DNAge.png') %>
  </div>
</div>
