<div class='white_squares_up'></div>
</div>

<div class='interviewees_list_header'>
  <%= image_tag('Interviewees.png', alt: 'Interviewees') %>
</div>

<div class='blue_top_line'>
</div>
<div class='interviewee_box'>

</div>
<div class='blue_squares_down'>
</div>
