<div class='white_squares_up'></div>

<div class='user_profile'>

  <div class='name_profilepic_contact_section'>

    <div class='user_name'>
    </div>

    <div class='profile_picture'>
    </div>

    <div class='twitter_handle'>
    </div>

    <div class='weblink'>
    </div>

  </div>

  <div class='text_section'>

    <div class='about_text'>
    </div>

  </div>

</div>
