<div class='white_squares_up'></div>
  <div class='user_profile'>

    <div class='name_profilepic_contact_section'>
      <div class='user_name'>
        interviewee.name
      </div>

      <div class='profile_picture'>
        <div class='white_squares_down'>
        </div>
      </div>

      <div class='twitter_handle'>
        interviewee.twitter_handle
      </div>

      <div class='weblink'>
        interviewee.weblink
      </div>
    </div>

    <div class='text_section'>
      <section>
        <div class='about_text'>
        interviewee.about_text <br><br>
        helvetica biodiesel skateboard wolf whatever plaid. Pinterest freegan gastropub, Carles cornhole american apparel direct trade plaid. Scenester ethnic tumblr, umami mustache iPhone actually. Fashion axe Echo Park craft beer hoodie mlkshk, shabby chic flannel locavore beard cliche Banksy.
        helvetica biodiesel skateboard wolf whatever plaid. Pinterest freegan gastropub, Carles cornhole american apparel direct trade plaid. Scenester ethnic tumblr, umami mustache iPhone actually. Fashion axe Echo Park craft beer hoodie mlkshk, shabby chic flannel locavore beard cliche Banksy.
        </div>
      </section>
    </div>
</div>

<div class='interviewee_videos'>
  <%= render 'shared/videos' %>
</div>

