<div class='white_squares_up'></div>

<div class='user_profile'>

  <div class='user_name'>
    <div class='profile_picture'>
    </div>
  </div>

  <div class='twitter_handle'>

  </div>

  <div class='weblink'>

  </div>

  <div class='about_text'>

  </div>

</div>
