<%= provide :page_title, 'Profile' %>

<div class='user_profile'>

  <div class='name_profilepic_contact_section'>
    <div class='user_name'>
      interviewee.name
    </div>

    <div class='profile_picture'>
      <div class='white_squares_down'>
      </div>
    </div>

    <div class='twitter_handle'>
      interviewee.twitter_handle
    </div>

    <div class='weblink'>
      interviewee.weblink
    </div>
  </div>

  <div class='text_section'>
    <section>
    <div class='about_text'>
      interviewee.about_text <br><br>
    </div>
    </section>
  </div>

</div>

<%= render 'shared/videos' %>

