<div class='blue_squares_up'>
</div>
<div class='homepage first-line'>
  <div class='startupdnage_text_logo'>
    <%= image_tag('Startup_DNAge.png') %>
  </div>
  <div class='big_green_top_banner'>
    <%= image_tag('Green_banner.png') %>
  </div>
  <div class='real_conversations_subheader'>
    <%= image_tag('Plus_Headline.png') %>
  </div>

  <%= render 'shared/homepage/gallery' %>

  <div class='blue_squares_down'>
  </div>
</div>

