<div class='blue_squares_up'></div>

<div class='homepage_first-line'>

  <div class='startupdnage_text_logo'>
    <%= image_tag('Startup_DNAge.png', alt: 'Startup DNAGE logo') %>
  </div>

  <div class='big_green_top_banner'>
    <%= image_tag('Green_banner.png', alt: 'Factime with founders and Hackers') %>
  </div>

  <div class='homepage_first_line_subheader'>
    <%= image_tag('Plus_Headline.png', alt: 'Real conversations, no bs') %>
  </div>

  <%= render 'shared/homepage/homepage_gallery' %>

  <div class='blue_squares_down'></div>

</div>

