<div class='homepage_fourth_line'>
  <section>
    <div class='newsletter'>
      <%= image_tag('Newsletter.png') %>
    </div>

    <div class='newsletter_send_button'>
      <%= image_tag('Send_button.png',
                    mouseover: 'Send_button_hover.png') %>
    </div>
  </div>
</section>

<div class='pillow'></div>
