<div class='homepage_gallery'>

  <div class='dna_logo_play_button'>
    <%= image_tag('DNAGE_logo.png', alt: 'Play Button', 
                  mouseover: 'DNAGE_logo_hover.png') %>
  </div>
  <%= image_tag('bay_bridge.jpg') %>

</div>

