<div class='homepage_second_line'>

  <div class='topics_headlines'>
    <ul>
      <li><%= image_tag('Companies.png') %></li>
      <li><%= image_tag('Topics.png') %></li>
      <li><%= image_tag('People.png') %></li>
    </ul>
  </div>
</div>

<div class='topics_examples'>
  <div class='companies'>
    <ul>
      <li>Reddit</li>
      <li>Twitter</li>
      <li>Twitch.tv</li>
      <li>Codecademy</li>
      <li>Khan Academy</li>
    </ul>
  </div>

  <div class='topics'>
    <ul>
      <li>Hackers</li>
      <li>Startups</li>
      <li>Investing</li>
      <li>Silicon Valley</li>
      <li>Programming</li>
    </ul>
  </div>

  <div class='people'>
    <ul>
      <li>Justin Kan</li>
      <li>Emmet Shear</li>
      <li>Steve Huffman</li>
      <li>Sebastian Thrun</li>
      <li>Yukihiro Matsumoto</li>
    </ul>
  </div>
</div>

