$light_grey_background_color: #F5F4F5
$grey_text_color: #555

.grey_squares_up
  background-image: url('grey_square_up.png')
  background-repeat: repeat
  height: 17px

.footer
  width: 100%
  height: 80px
  background-color: $light_grey_background_color
  ul
    list-style-type: none
    li
      width: 16.66666667%
      float: left
      padding-top: 25px
      text-align: center
      height: 80px
      &:hover
        a 
          color: #82DACD
      a
        color: $grey_text_color
        text-decoration: none
        font-size: em(16, 13)
        font-family: $helvetica
