.interviewees_list_header
  margin-top: 47px
  text-align: center

.interviewee_box_outer_container
  background-color: $blue_background_color
  height: 434px
  
.interviewee_box
  +outer-container
  margin:
    top: 1px

.interviewee_list_name
  +span-columns(7)
  +shift(1)
  @extend user_name 
  margin-top: 10px
  height: 35px
  background-color: green

.video_counter
  +span-columns(3)
  margin-top: 10px
  height: 35px
  background-color: yellow

.interviewee_list_box.profile_picture
  +span-columns(3.5)
  +shift(1)
  margin-top: 20px
  height: 200px
  background-color: red

.interviewee_list_box.blue_squares_down
  margin-top: -20px

.about_text
  +span-columns(6.5)
  height: 200px
  margin-top: 20px
  background-color: red

.people_pillow 
  margin:
    bottom: 100px
