@import 'fontfaces'

$grey_text_color: #555

.navbar
  width: 100%
  height: 72px
  background-image: url(grey_background.jpg)
  ul
    list-style-type: none
    padding-top: 25px
    li
      +span-columns(3)
      text-align: center
      float: left
      font-size: em(20, 13)
      font-family: $verdana
      a 
        text-decoration: none
        color: $grey_text_color

.tri
  +triangle(18px, black, down)
