$light_background_color: white

.white_squares_up
  +span-columns(12)
  +square_line('white_square_up.png', -8px)

.user_profile
  +outer-container
  margin-top: 70px
  background-color: $light_background_color

.name_profilepic_contact_section, 
.text_section
  +span-columns(10)
  +shift(1)
  +omega

.name_profilepic_contact_section
  height: 290px
  background-color: red

.user_name, .twitter_handle, .weblink
  +span-columns(6)
  +omega

.twitter_handle, .weblink
  height: 40px

.user_name
  height: 50px
  background-color: green

.white_squares_down
  +square_line('white_square_down.png', -18px)

.profile_picture
  +outer-container
  +shift(5.85)
  height: 260px
  background-color: green

.twitter_handle
  margin-top: -100px
  background-color: yellow

.weblink
  margin-top: -41px
  background-color: blue
  
.text_section
  height: 310px
  background-color: blue

.interviewee_videos
  +outer-container
  +span-columns(10)
  +shift(1)
  margin:
    top: 35px
    bottom: 35px
  height: 500px
  background-color: green
