$blue_background_color: #81ACF6

.blue_top_line, .full_width_video_wrapper
  background-color: $blue_background_color

.blue_top_line
  height: 3px
  margin:
    top: 35px

.full_width_video_wrapper
  width: 100%
  height: 773px
  border:
    top: 2px solid white
    bottom: 1px solid white

.video_container
  +outer-container

.top_quote, .video_title, .interviewee_name,
.video_description
  +span-columns(10)
  
.top_quote, .video, .video_title, .interviewee_name,
.video_description, .video_source_links
  background-color: red

.top_quote, .video_title, .interviewee_name, .video_description, .video_source_links
  padding-left: 10px

.top_quote, .video_title, .interviewee_name,
.video_description, .video
  +shift(1)

.top_quote, .video_title, .video, .interviewee_name, .video_description
  margin-top: 10px

.video_title, .interviewee_name
  height: 35px

.top_quote
  height: 50px

.video
  +span-columns(7)
  height: 290px

.video_source_links
  +span-columns(3)
  margin-top: 239px
  height: 60px

.video_description
  height: 240px

.video_pillow
  margin-bottom: 100px

.blue_squares_down
  +square_line('blue_square_down.png', 1px)

