$blue_background_color: #81ACF6

.blue
  +span-columns(12)
  margin-top: -8px
  height: 12px
  background-image: url(blue_square.png)
  background-repeat:repeat-y

.homepage.first-line
  height: 425px
  background-color: $blue_background_color

.startup_logo
  //background-image: url(Startup_DNAge.png)
  //background-repeat: no-repeat
  text-align: center
  img
    margin-top: 67px
    height: 80px

.green_banner 
  text-align: center
  img
    margin-top: 40px

.first_subheader
  text-align: center
  img
    margin-top: 50px
