.pillow
  height: 400px

$blue_background_color: #81ACF6

// SQUARE LINES

=squares($image)
  background-image: url($image)
  height: 27px
  background-repeat: repeat

.blue_squares_up
  +span-columns(12)
  +squares('blue_square.png')
  margin-top: -8px

.blue_squares_down
  +squares('blue_square_down.png')
  margin-top: 1px

.green_squares_up
  +squares('green_square_up.png')
  margin-top: -28px

.green_squares_down
  +squares('green_square_down.png')
  margin-top: 349px



// FIRST LINE

.homepage.first-line
  height: 455px
  background-color: $blue_background_color
  border-bottom: 2px solid white

.startup_logo
  //background-image: url(Startup_DNAge.png)
  //background-repeat: no-repeat
  text-align: center
  img
    margin-top: 67px
    height: 80px

.green_banner 
  text-align: center
  img
    margin-top: 40px

.first_subheader
  text-align: center
  img
    margin-top: 50px

.bay_bridge
  margin-top: 43px
  height: 550px
  overflow: hidden
  img
    max-width: auto
    width: 100%




// SECOND LINE

.homepage.second_line 
  +outer-container
  +span-columns(12)
  height: 200px

.topics_headlines
  margin-top: 633px
  ul li
    +span-columns(3.9)
    +shift(.1)
    height: auto
    img

.topics_examples
  +outer-container
  +span-columns(12)
  margin-top: 500px

.companies, .topics, .people
  +span-columns(3.9)
  +shift(.1)
  margin-top: 3px
  

.companies

.topics

.people

.companies, .topics, .people
  ul li
    font-size: 30px
    line-height: 1.975em
    font-family: $helvetica
    color: $grey_text_color 



// THIRD LINE

.homepage.third_line
  height: 455px
  margin-top: 1072px
  border-top: 2px solid white
  border-bottom: 2px solid white
  background-color: $light_green_background_color

.veterans_underdogs
  img
    margin-top: 47px

.veterans_underdogs, .learn_entrepreneurs
  text-align: center
