.pillow
  height: 400px

$blue_background_color: #81ACF6

// SQUARE LINES

=squares($image, $margin-top)
  background-image: url($image)
  height: 27px
  background-repeat: repeat
  margin-top: $margin-top

.blue_squares_up
  +span-columns(12)
  +squares('blue_square.png', -8px)

.blue_squares_down
  +squares('blue_square_down.png', 1px)

.green_squares_up
  +squares('green_square_up.png', -28px)

.green_squares_down
  +squares('green_square_down.png', 23px)



// FIRST LINE

.homepage.first-line
  height: 451px
  background-color: $blue_background_color
  border-bottom: 2px solid white

.startupdnage_text_logo
  text-align: center
  img
    margin-top: 53px
    height: 80px

.big_green_top_banner 
  text-align: center
  img
    margin-top: 40px

.real_conversations_subheader
  text-align: center
  img
    margin-top: 52px

.gallery
  margin-top: 35px
  height: 550px
  overflow: hidden
  img
    max-width: auto
    width: 100%
    
.dna_logo
  text-align: center
  img
    cursor: pointer
    margin-top: -1000px
    position: relative
    top: 340px
    max-width: 160px

.play_video
  z-index: 10
  margin-top: 50px
  
// SECOND LINE

.homepage.second_line 
  +outer-container
  +span-columns(12)
  height: 200px

.topics_headlines
  margin-top: 637px
  ul li
    +span-columns(3.9)
    +shift(.1)
    height: auto
    img

.topics_examples
  +outer-container
  +span-columns(12)
  margin-top: 500px

.companies, .topics, .people
  +span-columns(3.9)
  +shift(.1)
  margin-top: 7px
  

.companies

.topics

.people

.companies, .topics, .people
  ul li
    font-size: 30px
    line-height: 2.01em
    font-family: $helvetica
    color: $grey_text_color 



// THIRD LINE

.homepage.third_line
  height: 455px
  margin-top: 1076px
  border-top: 2px solid white
  border-bottom: 2px solid white
  background-color: $light_green_background_color

.round_logos
  +outer-container
  +shift(1)
  margin-top: 40px
  ul li
    +span-columns(2)
    +omega
    text-align: center

.learn_entrepreneurs
  margin-top: 35px

.veterans_underdogs
  margin-top: 47px

.reality_check
  margin-top: 38px

.veterans_underdogs, .learn_entrepreneurs, .reality_check
  text-align: center



// FOURTH LINE

.homepage.fourth_line
  +outer-container

.newsletter, .newsletter_send_button
  +span-columns(2)

.newsletter
  +shift(1.3)
  margin-top: 70px

.newsletter_send_button
  +shift(4.6)
  margin-top: 67px
